### Задача 1
## Условие 1
Скачать файл в уроке
Считать данные с помощью pandas

In [3]:
import pandas as pd

data = pd.read_csv('kc_house_data.csv')

print(data)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

## Условие 2

Вывести на экран первые 5 строк

In [4]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Вывод первых пяти строк
print(data.head(5))

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

## Условие 3
Посмотреть на описание признаков и на их содержание

In [6]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

print(data.describe())

                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.390691     291.509045   1971.005136     84.402258
std        1.175459    828.090978     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

второй способ

In [7]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB
None

### Задача 2

## Условие 1
Проведите первичный анализ данных


Мы имеем файл по продаже недвижимости, в котором можем в котором можем посмотреть данные о каждом доме, квадратные метры жилья, и квадратные метры вместе с земельным участком. Также можно выяснить о наличии поблизости набережной.

## Условие 2
Изучите типы данных

In [8]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB
None

С помощью функции **info** получаем информацию о типах данных, кторые присутствуют в файле. Видно, что преобладающий тип данных это целочисленные значения **int64** , также присутствуют числа с плавающей запятой **float64** и тип данных **object**, который может содержать строки, списки, словари или другие объекты

### Условие 3
Найдите количество пропущенных ячеек в данных
С помощью функции **info** получаем информацию о количестве пропущенных ячеек. В данном случае пропущенные ячейки отсутствуют.

### Задача 3
Ответьте на несколько вопросов
## 3.1 В каком диапазоне изменяются стоимости недвижимости?
Минимальная стоимость недвижимости: 75000.0
Максимальная стоимость недвижимости: 7700000.0
недвижимости в данных колеблется от 75 000 до 7 700 000

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [11]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Вычисление средней доли жилой площади от общей площади
fraction_of_living_area = data['sqft_living'] / data['sqft_lot']
average_fraction = fraction_of_living_area.mean()

# Вывод результата
print("Средняя доля жилой площади от общей площади: {:.2%}".format(average_fraction))

Средняя доля жилой площади от общей площади: 32.37%

### 3.3 Как много домов с разными этажами в данных?

In [13]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Подсчет количества домов с разными этажами
count_by_floors = data['floors'].value_counts()

# Вывод результата
print(count_by_floors)

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

### 3.4 Насколько хорошие состояния у домов в данных?

In [15]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

condition_counts = data['condition'].value_counts()

print(condition_counts)

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [16]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Нахождение года постройки первого дома
first_year_built = data['yr_built'].min()

# Нахождение года постройки последнего дома
last_year_built = data['yr_built'].max()

# Вывод результатов
print("Первый дом был построен в году:", first_year_built)
print("Последний дом был построен в году:", last_year_built)

Первый дом был построен в году: 1900
Последний дом был построен в году: 2015

### Задача 4
Ответьте на несколько вопросов

## 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [18]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Фильтрация данных по количеству спален равному 2
filtered_data = data[data['bedrooms'] == 2]

# Вычисление средней стоимости домов с 2 спальнями
average_price = filtered_data['price'].mean()

# Вывод результата
print("Средняя стоимость домов с 2 спальнями:", round(average_price, 2))

Средняя стоимость домов с 2 спальнями: 401372.68

## 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [25]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Фильтрация данных по стоимости больше 600 000
filtered_data = data[data['price'] > 600000]




# Вычисление средней общей площади домов с ценой выше 600 000
average_sqft_total = filtered_data['sqft_lot'].mean()

# Вывод результата
print("Средняя общая площадь домов с ценой выше 600 000:", round(average_sqft_total, 2))

Средняя общая площадь домов с ценой выше 600 000: 20442.52

### 4.3 Как много домов коснулся ремонт?

In [26]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Фильтрация данных для домов, у которых год ремонта больше нуля
renovated_houses = data[data['yr_renovated'] > 0]

# Получение количества домов, подвергнутых ремонту
count_renovated_houses = len(renovated_houses)

# Вывод результата
print("Количество домов, подвергнутых ремонту:", count_renovated_houses)

Количество домов, подвергнутых ремонту: 914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [27]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Фильтрация данных для домов с оценкой grade выше 10
high_grade_houses = data[data['grade'] > 10]

# Фильтрация данных для домов с оценкой grade меньше 4
low_grade_houses = data[data['grade'] < 4]

# Вычисление средней стоимости домов с оценкой grade выше 10
mean_high_grade_price = high_grade_houses['price'].mean()

# Вычисление средней стоимости домов с оценкой grade меньше 4
mean_low_grade_price = low_grade_houses['price'].mean()

# Вычисление разницы в средней стоимости
price_difference = mean_high_grade_price - mean_low_grade_price

# Вывод результата
print("Разница в средней стоимости:", price_difference)

Разница в средней стоимости: 1488885.1175298805

### Задача 5
Ответьте на несколько вопросов
5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

## 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [28]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Фильтрация данных по требованиям клиента
filtered_data = data[(data['waterfront'] == 1) & (data['bathrooms'] >= 3) & (data['sqft_basement'] > 0)]

# Подсчет количества вариантов
num_variants = len(filtered_data)

# Вывод результата
print("Количество вариантов для клиента:", num_variants)

Количество вариантов для клиента: 41

## 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [29]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Фильтрация данных по требованиям клиента
filtered_data = data[((data['view'] > 3) | (data['waterfront'] == 1)) & (data['condition'] >= 4) & (data['yr_built'] >= 1980)]

# Определение ценового диапазона
min_price = filtered_data['price'].min()
max_price = filtered_data['price'].max()

# Вывод результата
print("Ценовой диапазон домов для клиента: от", min_price, "до", max_price)

Ценовой диапазон домов для клиента: от 705000.0 до 5300000.0

## 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [30]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Фильтрация данных по требованиям клиента
filtered_data = data[(data['floors'] == 2) & (data['sqft_basement'] == 0) & (data['price'] <= 150000)]

# Вычисление средней оценки по состоянию
average_condition = filtered_data['condition'].mean()

# Вывод результата
print("Средняя оценка по состоянию у домов без подвала, с двумя этажами и стоимостью до 150000:", average_condition)

Средняя оценка по состоянию у домов без подвала, с двумя этажами и стоимостью до 150000: 3.0